body{

    margin: 0 ;
    padding: 0;
    opacity: 0.9;
}
.logo{
    color:white;
    font-size: 50px;
    font-family:"Times New Roman",Book Antiqua,Serif;
    /*margin: 20px;*/
    z-index: 1000;
    position: absolute;
    top: 20px;
    left: 20px;
}
.title{
    font-size: 50px;
    color:white;
    position: absolute;
    top: 25%;
    left: 36%;
}


.container{
    margin: 0 auto;
    position: relative;
    width: 1360px;
    height: 660px;
    border-radius: 4px;
    background: url("../img/hero-bg.jpg")  no-repeat;
    background-size: cover;
}
.mask{
    width: 1360px;
    height: 660px;
    background: black;
    opacity: 0.5;
    z-index: 999;

}

.contact{
    position: absolute;
    left: 30px;
    bottom: 20px;
    color: white;
}


.show:hover,.app:hover,.res:hover{
    border: 2px solid #FFD62B;
    background:#FFD62B;
    color:#1C0C1D;
}
.show:hover .text,.app:hover .text,.res:hover .text{
    background: #fff;
    color: #161616;
}
.text{
    color: white;
    background: none;
    border: 2px solid white;
    width: 220px;
    margin-top: -5px;
    height: 42px;
    line-height: 40px;
    text-align: center;
    font-size: 24px;
    border-radius: 10px;
}
.show{
    position: absolute;
    top:45%;
    left:39%;
}
.app{
    position: absolute;
    top:55%;
    left:39%;
}
.res{
    position: absolute;
    top:70%;
    left:39%;
}
